<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" style="background-color: #3f51b5;;text-align: center">
              <h4 class="card-title" style="font-weight:bold; color :#4285f4;">{{labels?.title_table_afiliaciones}}</h4>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="fill">
                    <mat-label style="font-weight:bold; color :#4285f4">Seleccione Criterio de Búsqueda</mat-label>
                    <mat-select [(value)]="criterioSeleccionado">
                      <mat-option value="nd">DOCUMENTO AFILIADO</mat-option>
                      <mat-option value="np">NOMBRE AFILIADO</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col">
                  <div *ngIf="criterioSeleccionado!=''">
                  <div *ngIf="criterioSeleccionado == 'nd'">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>DOCUMENTO AFILIADO</mat-label>
                      <input matInput type="text" [(ngModel)]="valorCriterioSeleccionado" name="valorCriterio">
                    </mat-form-field>
                  </div>
                  <div *ngIf="criterioSeleccionado == 'np'">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>NOMBRE AFILIADO</mat-label>
                      <input matInput type="text" [(ngModel)]="valorCriterioSeleccionado" name="valorCriterio">
                    </mat-form-field>
                  </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="card-body text-center">
            <div class="table-responsive-xl">
                  <p-table [value]="res" [scrollable]="true" scrollHeight="400px">
                    <ng-template pTemplate="header">
                      <tr>
                        <th scope="col">Documento Afiliado<div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" (click)="ordenar(1)" class="btnp btn btn-info btn-sm">&#8595;</button>
                          <button type="button" (click)="ordenar(-1)" class="btnp btn btn-info btn-sm">&#8593;</button>
                        </div></th>
                          <th scope="col">Nombre Afiliado<div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" (click)="ordenar(3)" class="btnp btn btn-info btn-sm">&#8595;</button>
                          <button type="button" (click)="ordenar(-3)" class="btnp btn btn-info btn-sm">&#8593;</button>
                        </div></th>
                          <th scope="col">Apellido Afiliado<div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" (click)="ordenar(4)" class="btnp btn btn-info btn-sm">&#8595;</button>
                          <button type="button" (click)="ordenar(-4)" class="btnp btn btn-info btn-sm">&#8593;</button>
                        </div></th>
                          <th scope="col">Dirección<div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" (click)="ordenar(5)" class="btnp btn btn-info btn-sm">&#8595;</button>
                          <button type="button" (click)="ordenar(-5)" class="btnp btn btn-info btn-sm">&#8593;</button>
                        </div></th>
                          <th scope="col">Codigo Afiliado<div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" (click)="ordenar(6)" class="btnp btn btn-info btn-sm">&#8595;</button>
                          <button type="button" (click)="ordenar(-6)" class="btnp btn btn-info btn-sm">&#8593;</button>
                        </div></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-r>
                      <tr>
                        <td >{{r.documentoPersona}}</td>
                        <td >{{r.nombrePersona}}</td>
                        <td >{{r.apellidoPersona}}</td>
                        <td >{{r.direccionPersona}}</td>
                        <td >{{r.idPersona}}</td>
                        <!--<td ><button [disabled]="!consult('/vinculaciones','/editar')" *ngIf="r.estadoAfiliacion==0" type="button" class="btn btn-warning btn-sm btn-round" routerLink="{{'editar'+r.idAfiliacion}}">PENDIENTE</button>
                            <button [disabled]="!consult('/afiliaciones','/editar')" *ngIf="r.estadoAfiliacion==1" type="button" class="btn btn-success btn-sm btn-round" [disabled]="r.estadoAfiliacion==1" routerLink="{{'editar'+r.idAfiliacion}}">APROBADA</button>
                            <button [disabled]="!consult('/afiliaciones','/editar')" *ngIf="r.estadoAfiliacion==2" type="button" class="btn btn-info btn-sm btn-round" routerLink="{{'editar'+r.idAfiliacion}}">EN REVISIÓN</button>
                            <button *ngIf="r.estadoAfiliacion==3" type="button" class="btn btn-danger" routerLink="{{'editar'+r.idAfiliacion}}">RECHAZADA</button> </td>-->
                      </tr>
                    </ng-template>
                  </p-table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li [ngClass]="{'page-item':true, 'disabled': pagact==0 }">
            <a class="page-link"  (click)="ObtenerAfiliaciones(pagact-10)" style="cursor:pointer;">Anterior</a>
        </li>
        <li  [ngClass]="{'page-item':true, 'active': pagact==i }"  *ngFor="let m of maxpag; let i = index "><a class="page-link" style="cursor:pointer;"  (click)="ObtenerAfiliaciones((i)*10)">{{i+1}}</a></li>
        <li [ngClass]="{'page-item':true, 'disabled': pagact>=maxpag.length-1 }">
            <a class="page-link"  (click)="ObtenerAfiliaciones(pagact+10)" style="cursor:pointer;">Siguiente</a>
        </li>
    </ul>
</nav>
-->
