#icono
{
    color: rgb(0, 0, 0);
}

#contenedor_imagen
{
    height: 20px;
    width: 100px;
}


.mat-expansion-panel
{
    margin: 5px;
}



button{
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 170px;
    padding: 0px;
}

.material-icons{
  color: #000000;
}
