<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header " style="background-color: #048ABF;color :#ffffff;text-align: center;">
            <h2 style="font-weight:bold">{{labels?.title_table_facturas}}</h2>
          </div>
          <div class="card-body">
            <div class="table-responsive-xl">
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Fecha
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" (click)="ordenar(2)" class="btnp btn btn-info btn-sm">&#8595;</button>
                            <button type="button" (click)="ordenar(-2)" class="btnp btn btn-info btn-sm">&#8593;</button>
                          </div>
                        </th>
                      <th scope="col">Cliente
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" (click)="ordenar(3)" class="btnp btn btn-info btn-sm">&#8595;</button>
                            <button type="button" (click)="ordenar(-3)" class="btnp btn btn-info btn-sm">&#8593;</button>
                          </div>
                        </th>
                      <th scope="col">Fecha inicio periodo
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" (click)="ordenar(4)" class="btnp btn btn-info btn-sm">&#8595;</button>
                            <button type="button" (click)="ordenar(-4)" class="btnp btn btn-info btn-sm">&#8593;</button>
                          </div>
                        </th>
                      <th scope="col">Fecha fin periodo
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" (click)="ordenar(5)" class="btnp btn btn-info btn-sm">&#8595;</button>
                            <button type="button" (click)="ordenar(-5)" class="btnp btn btn-info btn-sm">&#8593;</button>
                          </div>
                        </th>
                      <th scope="col">Valor
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" (click)="ordenar(6)" class="btnp btn btn-info btn-sm">&#8595;</button>
                            <button type="button" (click)="ordenar(-6)" class="btnp btn btn-info btn-sm">&#8593;</button>
                          </div>
                      </th>
                      <th scope="col">Accion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let r of res">
                      <td >{{r.fechaFactura | date}}</td>
                      <td >{{r.razonSocialCliente}}</td>
                      <td >{{r.fechaInicioFactura | date}}</td>
                      <td >{{r.fechaFinFactura | date}}</td>
                      <td >{{r.totalFactura}}</td>
                      <td>
                        <div class="dropdown">
                          <button pButton pRipple type="button" icon="pi pi-search" pTooltip="Visualizar" tooltipPosition="left" routerLink="{{'ver'+r.idFactura}}" class="p-button-rounded p-button-info"></button>
                          <button pButton pRipple type="button" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" routerLink="{{'editar'+r.idFactura}}" class="p-button-rounded p-button-pimary"></button>
                          <button pButton pRipple type="button" icon="pi pi-times" pTooltip="Eliminar" tooltipPosition="top" (click)="estadoFactura(r.idFactura,2)" class="p-button-rounded p-button-danger"></button>
                          <button pButton pRipple type="button" icon="pi pi-download" pTooltip="Descargar PDF" (click)="download(r.factura)" class="p-button-rounded p-button-help"></button>
                          <!--<button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split btn-sm btn-round" data-toggle="dropdown" aria-expanded="false">
                              <span class="visually-hidden"></span>
                          </button>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" routerLink="{{'editar'+r.idFactura}}">Editar</a></li>
                              <li><a class="dropdown-item" (click)="estadoFactura(r.idFactura,2)">Eliminar</a></li>
                              <li><a class="dropdown-item" (click)="download(r.factura)" *ngIf="r.factura!=null">PDF</a></li>
                              <li><a class="dropdown-item"  *ngIf="r.factura==null">PDF no disponible</a></li>
                          </ul>-->
                        </div>
                      </td>
                    </tr>
                  </tbody>
              </table>
          </div>
          </div>
        </div>
      </div>
  </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li [ngClass]="{'page-item':true, 'disabled': pagact==0 }">
            <a class="page-link"  (click)="ObtenerFacturas(pagact-1)" style="cursor:pointer;">Anterior</a>
        </li>
        <li  [ngClass]="{'page-item':true, 'active': pagact==i }"  *ngFor="let m of maxpag; let i = index ">
            <a class="page-link" style="cursor:pointer;"  (click)="ObtenerFacturas(i)">{{i+1}}</a></li>
        <li [ngClass]="{'page-item':true, 'disabled': pagact>=maxpag.length-1 }">
            <a class="page-link"  (click)="ObtenerFacturas(pagact+1)" style="cursor:pointer;">Siguiente</a>
        </li>
    </ul>
</nav>
