<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header" style="background-color: #004790;color :#39D5FF;text-align: center;">
                      <h2 style="font-weight:bold">
                          Notificaciones
                      </h2>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive-x1">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th scope="col" style="font-weight:bold">Título</th>
                                      <th scope="col" style="font-weight:bold">Descripcion</th>
                                      <th scope="col" style="font-weight:bold">Tipo</th>
                                      <th scope="col" style="font-weight:bold">Acción</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let notificacion of res">
                                      <td>{{notificacion.tituloNotificacion}}</td>
                                      <td>{{notificacion.descripcionNotificacion}}</td>
                                      <td *ngIf="notificacion.tipoNotificacion==1">Individual</td>
                                      <td *ngIf="notificacion.tipoNotificacion==2">Masivo</td>
                                      <td>
                                          <div class="dropdown">
                                            <button pButton pRipple type="button" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"  routerLink="{{'editar'+notificacion.idNotificacion}}" class="p-button-rounded p-button-pimary"></button>
                                            <button pButton pRipple type="button" icon="pi pi-times" pTooltip="Eliminar" tooltipPosition="top" (click)="borrarNotificacion(notificacion.idNotificacion)" class="p-button-rounded p-button-danger"></button>
                                              <!--<button class="btn btn-info btn-round dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                  <a class="dropdown-item" (click)="borrarNotificacion(notificacion.idNotificacion)">Eliminar</a>
                                                  <a class="dropdown-item" routerLink="{{'editar'+notificacion.idNotificacion}}" >Editar</a>
                                                </div>-->
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      <li [ngClass]="{'page-item':true, 'disabled': pagact==0 }">
          <a class="page-link"  (click)="obtenerNotificaciones(pagact-1)" style="cursor:pointer;">Anterior</a>
      </li>
      <li  [ngClass]="{'page-item':true, 'active': pagact==i }"  *ngFor="let m of maxpag; let i = index ">
          <a class="page-link" style="cursor:pointer;"  (click)="obtenerNotificaciones(i)">{{i+1}}</a></li>
      <li [ngClass]="{'page-item':true, 'disabled': pagact>=maxpag.length-1 }">
          <a class="page-link"  (click)="obtenerNotificaciones(pagact+1)" style="cursor:pointer;">Siguiente</a>
      </li>
  </ul>
</nav>
