<div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header"style="background-color: #004790; color: #39d5ff;">
            <h2 style="font-weight: bold; text-align: center; ">
                Nuevo Fuec
            </h2>
          </div>
        <div class="card-body" >
            <div class="row">
              <div class="col-md-12 mb-3" >
                <label for="" style="color: black;" style="color: black; font-size: 25px; margin-right: 20px;">
                    CONTRATO:
                </label>
                    <p-dropdown [options]="contratos" [(ngModel)]="contratoSeleccionado" optionLabel="razonSocialCliente" [filter]="true" filterBy="razonSocialCliente" [showClear]="true" placeholder="Seleccione un Contrato" style="width: 800px;">
                        <ng-template let-country pTemplate="item">
                            <div class="country-item">

                                <div>{{country.razonSocialCliente}}-{{country.numeracionContrato}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>

                <label for="" style="color: black; font-size: 25px; margin-left: 20px;">
                    Cliente: {{contratoSeleccionado?.razonSocialCliente}} No. Contrato: {{contratoSeleccionado?.numeracionContrato}} {{contratoSeleccionado?.fechaInicioContratoPermanente | date}} - {{contratoSeleccionado?.fechaFinContratoPermanente | date}}
                </label>
              </div>
              <div class="col-md-12 mb-3" *ngIf="contratoSeleccionado!=undefined">
                <div class="col-md-3">
                  <label for="" style="color: black;">PLACA DE VEHÍCULO</label>
                  <p-autoComplete [(ngModel)]="vehiculoSeleccionado" [suggestions]="vehiculosFiltrados" (completeMethod)="filtrarVehiculos($event)" field="placaVehiculo" (onSelect)="traerVehiculoPlaca()" [dropdown]="true">
                  </p-autoComplete>
                </div>
                <div class="row" *ngIf="vehiculoSeleccionado!=undefined">
                  <div class="col-md-3" >
                      <h6>Placa</h6>
                      <p>{{resveh?.placaVehiculo}}</p>
                  </div>
                  <div class="col-md-3" >
                      <h6>Cilindraje</h6>
                      <p>{{resveh?.cilindraje}}</p>
                  </div>
                  <div class="col-md-3" >
                      <h6>Convenio</h6>
                      <p>{{resvehdef?.convenioList?.empresaConvenio.nombreEmpresaConvenio}}</p>
                  </div>
                  <div class="col-md-3" >
                      <h6>Tarjeta de operación</h6>
                      <p>{{resvehdef?.tarjetaOperacionList?.numeroTarjetaOperacion}}</p>
                  </div>
                </div>
                <h5 style="text-align: center;" *ngIf="vehiculoSeleccionado!=undefined">Fechas de Vencimiento</h5><hr>
                  <div class="row" *ngIf="vehiculoSeleccionado!=undefined">
                      <div class="col-md-3">
                          <h6>Tarjeta operación</h6>
                          <p *ngIf="verificarFechas(resveh?.tarjetaOperacionList?.fechaVencimientoTarjetaOperacion)"style="color: #F75C4C;font-weight: bold;">
                            {{resveh?.tarjetaOperacionList?.fechaVencimientoTarjetaOperacion | date}}
                          </p>
                          <p *ngIf="!verificarFechas(resveh?.tarjetaOperacionList?.fechaVencimientoTarjetaOperacion)"style="color: #3edc81;font-weight: bold;">
                            {{resveh?.tarjetaOperacionList?.fechaVencimientoTarjetaOperacion | date}}
                          </p>
                      </div>
                      <div class="col-md-3" >
                          <h6>Revisión Técnico-Mecánica</h6>
                          <p *ngIf="verificarFechas(resveh?.revisionTecnicomecanicaList?.fechaVencimientoRevisionTecnicomecanica)" style="color: #F75C4C;font-weight: bold;">
                            {{resveh?.revisionTecnicomecanicaList?.fechaVencimientoRevisionTecnicomecanica | date}}
                          </p>
                          <p *ngIf="!verificarFechas(resveh?.revisionTecnicomecanicaList?.fechaVencimientoRevisionTecnicomecanica)" style="color: #3edc81;font-weight: bold;">
                            {{resveh?.revisionTecnicomecanicaList?.fechaVencimientoRevisionTecnicomecanica | date}}
                          </p>
                      </div>
                      <div class="col-md-3">
                          <h6>SOAT</h6>
                          <p *ngIf="verificarFechas(resveh?.soatList?.fechaVencimientoSoat)" style="color: #F75C4C;font-weight: bold;">
                            {{resveh?.soatList?.fechaVencimientoSoat | date}}
                          </p>
                          <p *ngIf="!verificarFechas(resveh?.soatList?.fechaVencimientoSoat)" style="color: #3edc81;font-weight: bold;">
                            {{resveh?.soatList?.fechaVencimientoSoat | date}}
                          </p>
                      </div>
                      <div class="col-md-3">
                          <h6>Poliza contractual</h6>
                          <p *ngIf="verificarFechas(resveh?.polizaContractualList?.fechaVencimientoPolizaContractual)" style="color: #F75C4C; font-weight: bold;">
                            {{resveh?.polizaContractualList?.fechaVencimientoPolizaContractual | date}}
                          </p>
                          <p *ngIf="!verificarFechas(resveh?.polizaContractualList?.fechaVencimientoPolizaContractual)" style="color: #3edc81;font-weight: bold;">
                            {{resveh?.polizaContractualList?.fechaVencimientoPolizaContractual | date}}
                          </p>
                      </div>
                      <div class="col-md-3">
                          <h6>Poliza Extracontractual</h6>
                          <p *ngIf="verificarFechas(resveh?.polizaExtracontractualList?.fechaVencimientoPolizaExtracontractual)" style="color: #F75C4C;font-weight: bold;">
                            {{resveh?.polizaExtracontractualList?.fechaVencimientoPolizaExtracontractual | date}}
                          </p>
                          <p *ngIf="!verificarFechas(resveh?.polizaExtracontractualList?.fechaVencimientoPolizaExtracontractual)" style="color: #3edc81;font-weight: bold;">
                            {{resveh?.polizaExtracontractualList?.fechaVencimientoPolizaExtracontractual | date}}
                          </p>
                      </div>
                      <div class="col-md-3">
                          <h6>Convenio</h6>
                          <p *ngIf="verificarFechas(resveh?.fechconv)" style="color: #F75C4C;font-weight: bold;">
                            {{resveh?.fechconv | date}}
                          </p>
                          <p *ngIf="!verificarFechas(resveh?.fechconv)" style="color: #3edc81;font-weight: bold;">
                            {{resveh?.fechconv | date}}
                          </p>
                      </div>
                      <div class="col-md-3">
                          <h6>Revisión preventiva</h6>

                          <p *ngIf="verificarFechas(resveh?.revisionPreventivaList?.fechaVencimientoRevisionPreventiva)" style="color: #F75C4C;font-weight: bold;">
                            {{resveh?.revisionPreventivaList?.fechaVencimientoRevisionPreventiva | date}}
                          </p>
                          <p *ngIf="!verificarFechas(resveh?.revisionPreventivaList?.fechaVencimientoRevisionPreventiva)" style="color: #3edc81;font-weight: bold;">
                            {{resveh?.revisionPreventivaList?.fechaVencimientoRevisionPreventiva | date}}
                          </p>
                      </div>
                  </div>
                  <div class="row" *ngIf="vehiculoSeleccionado!=undefined" style="margin: 20px;">
                    <h3>
                      Conductores vehículo
                    </h3>
                    <div *ngFor="let r of conductores; let i = index" class="col-md-12 m-0">

                      <div class="row">
                          <div class="col-md-6">
                            <h6>Conductor {{i+1}}</h6>
                            <p>{{r.persona.nombrePersona}} {{r.persona.apellidoPersona}}</p>
                          </div>
                          <div class="col-md-3">
                              <h6>ARL</h6>
                              <p [ngStyle]="{'color':!verificarFechas(r.finArlConductor)? 'green' : 'red' }">
                                {{r.finArlConductor | date}}
                              </p>
                          </div>
                          <div class="col-md-3">
                              <h6>EPS</h6>
                              <p [ngStyle]="{'color':!verificarFechas(r.finEpsConductor)? 'green' : 'red' }">
                                {{r.finEpsConductor | date}}
                              </p>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="vehiculoSeleccionado!=undefined" style="align-items: center; justify-content: center;">

                    <form [formGroup]="Formulario">
                      <div class="row" >
                        <div class="col-md-12">
                          <h3>
                            Nuevo Fuec
                          </h3>
                        </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{labels?.fecha_inicio}}" min="{{stract}}" max="{{strini}}" formControlName="fechaini" type="date" required>
                                    <mat-error *ngIf="Formulario.get('fechaini').errors?.required">digite la fecha de inicio</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              Ciudad Origen

                              <p-autoComplete name="ciudad" [showEmptyMessage]="true" [suggestions]="ciudadesFiltradas" (completeMethod)="filtrarCiudades($event)" field="ciudad" formControlName="txtCiudadOrigen" required></p-autoComplete>
                          </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="{{labels?.fecha_fin}}" min="{{strinifin}}" max="{{strfin}}" formControlName="fechafin" type="date" required>
                                    <mat-error *ngIf="Formulario.get('fechafin').errors?.required" >digite la fecha fin</mat-error>
                                     <mat-error *ngIf="Formulario.get('fechafin').errors?.checkfech" >La fecha es invalida, escoja una dentro de las disponibles</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                Ciudad Destino

                                <p-autoComplete name="ciudad" [showEmptyMessage]="true" [suggestions]="ciudadesFiltradas" (completeMethod)="filtrarCiudades($event)" field="ciudad" formControlName="txtCiudadDestino" required></p-autoComplete>
                            </div>
                      </div>
                  </form>
              </div>
              <div class="row" *ngIf="vehiculoSeleccionado!=undefined">

                  <h5 class="col-md-12">Seleccione Conductores </h5>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8Zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5Z"/>
                  </svg>
                    <div class="col-md-6">
                      <select class="form-control" [(ngModel)]="conductorSeleccionado" (change)="agregarConductor()">
                        <button mat-button>
                          <mat-icon (change)="agregarConductor()"></mat-icon></button>
                          <option *ngFor="let cond of selectcond" [ngValue]="cond">
                              {{cond?.persona.documentoPersona}} {{cond?.persona.nombrePersona}} {{cond?.persona.apellidoPersona}}
                          </option>
                      </select>
                    </div>
                  <table class="table">
                      <thead>
                      <th>Documento</th>
                      <th>Nombre de Conductor</th>
                      <th>Apellido de Conductor</th>
                      <th>Accion</th>
                      </thead>
                      <tbody>
                      <tr *ngFor="let p of cond; let i = index">
                          <td>{{p.persona.documentoPersona}}</td>
                          <td>{{p.persona.nombrePersona}}</td>
                          <td>{{p.persona.apellidoPersona}}</td>
                          <td><button class="btn btn-danger" type="button" (click)="removercond(i,p)">Eliminar</button></td>
                      </tr>
                      </tbody>
                  </table>
              </div>
              <h5 class="col-md-12">Seleccione Pasajero </h5>
              <div class="row" *ngIf="vehiculoSeleccionado!=undefined">
                <div class="col-md-12 mb-3">
                    <p-autoComplete [(ngModel)]="pasajeroSeleccionado" [suggestions]="pasajerosFiltrados" (completeMethod)="filtrarPasajeros($event)" field="nombrePasajero" (onSelect)="agregarPasajeroContrato()" [dropdown]="true">
                    </p-autoComplete>

                    <table class="table">
                        <thead>
                        <th>Documento</th>
                        <th>Nombre de Pasajero</th>
                        <th>Opciones de Pasajero</th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let p of pas; let i = index">
                            <td>{{p.documentoPasajero}}</td>
                            <td>{{p.nombrePasajero}}</td>
                            <td><button class="btn btn-danger" type="button" (click)="removerPasajero(p)">Eliminar</button></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <button type="button" *ngIf="vehiculoSeleccionado!=undefined && cond.length > 0" class="btn btn-info" (click)="guardar()">CREAR FUEC</button>
                </div>
              </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
