<div id="lienzo" class="d-flex flex-column overflow-auto h-100 p-0 m-0">
    <header class="masthead mb-auto">
        <!-- Encabezado del formulario (si es necesario) -->
    </header>

    <form [formGroup]="Formulario" class="form-signin rounded mx-auto text-center">
        <div class="card">
            <div class="card-header"style="background-color:    #296fb0">
                <a href="https://trexsas.com.co/" target="_blank">
                    <img class="mb-4 rounded img-fluid" src="assets/nuevo1.png" alt="">
                </a>
            </div>
            <div class="card-body" >
                <p class="lead" style="font-weight: bold;">Sistema TREX SAS</p>

                

                <!-- Mensaje de sesión cerrada -->
                <div *ngIf="msgnottoken" class="alert alert-warning" role="alert">
                    Lo siento, la sesión fue cerrada. Vuelve a iniciar sesión.
                </div>
                <!-- Campos de usuario y contraseña -->
                <mat-form-field class="example-full-width" appearance="outline" color="white">
                    <mat-label>{{labels?.usuario}}</mat-label>
                    <mat-icon matPrefix>account_circle</mat-icon>
                    <input matInput formControlName="username" type="text" placeholder="Usuario">
                  </mat-form-field>
                  
                  <!-- Campo de contraseña -->
                  <mat-form-field class="example-full-width" appearance="outline" color="white">
                    <label mat-label>{{labels?.contrasena}}</label>
                    <mat-icon matPrefix>lock</mat-icon>
                    <input matInput formControlName="pass" type="password" placeholder="Contraseña">
                  </mat-form-field>
                  
                <!-- Mensajes de error -->
                <div *ngIf="msgnotfound" class="alert alert-danger" role="alert">
                    Las credenciales no coinciden.
                </div>
                <div *ngIf="msgnotaccess" class="alert alert-danger" role="alert">
                    Cuenta desactivada o eliminada. Comunícate con un administrador.
                </div>

                <!-- Opciones de sesión -->
                <div class="form-group form-check text-dark">
                    <label class="form-check-label">
                        <input class="form-check-input position-static" type="checkbox" id="editafil" aria-label="...">
                        <span class="form-check-sign">
                            <span class="check"> </span>
                        </span>
                        Mantener sesión iniciada
                    </label>
                    <input type="checkbox" class="form-check-input" id="record">
                    <label class="form-check-label" for="record"></label>
                </div>
                <!-- Botón de ingreso -->
                <button (click)="ingresar()" class="btn btn-info btn-rounded custom-btn" [disabled]="!Formulario.valid">
                    Ingresar
                  </button>
                  
                <!-- Enlace para recuperar contraseña -->
                <button type="button" class="btn btn-link text-dark" routerLink="recoverypass">¿Olvidaste la contraseña?</button>
                <!-- Pie de página del formulario -->
            </div>
        </div>
    </form>

    <footer class="mt-auto p-2 rounded text-center footerc">
        <div class="inner">
            <p>&copy; 2021 | Gestión de Transporte Especial | Un sistema de <a href="http://itefs.com">ITEFS SAS</a> | sistemas@itefs.com .</p>
        </div>
    </footer>
</div>
