.example-full-width {
    width: 100%;
}
.list-group-CO{
    max-height: 110px;
    overflow: auto;
}

.list-group-CD{
    max-height: 110px;
    overflow: auto;
}
#lienzo{
    height: 100%;
}
.estpos{
    margin: 0px 39px 0px 0px;
}
.switch{
    padding: 0px 0px 0px 0px;
}
.pildora{
    background-color: #1A1B39;
    color: #ffffff;
    padding-top: 0px;
}